equijoin_gpu-vs-cpu

data/example_results/parallel_example_join_result_inactive_customers.csv
data/example_results/parallel_example_join_result_active_customers.csv
data/example_results/serial_example_join_result_inactive_customers.csv
data/example_results/serial_example_join_result_active_customers.csv

data/custom_purchases_data.csv
data/custom_customer_data.csv
data/custom_results/serial_custom_join_result_inactive_customers.csv
data/custom_results/serial_custom_join_result_active_customers.csv
data/custom_results/parallel_custom_join_result_inactive_customers.csv
data/custom_results/parallel_custom_join_result_active_customers.csv
data/custom_results/custom_correct_join_result_inactive_customers.csv
data/custom_results/custom_correct_join_result_active_customers.csv

